body {
  margin: 0;
}

.container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box-border {
  overflow: hidden;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border: 5px solid gainsboro;
  margin-top: 3%;
}
.container .box-border .addMembers {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .box-border .addMembers b {
  margin: 30px 35px;
  color: #706262;
  font-size: 15px;
}
.container .box-border .addMembers .deleteIcon {
  margin: 0px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bdbdda;
}
.container .box-border .addMembers .deleteIcon button {
  height: 35px;
  width: 35px;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
}
.container .box-border .addMembers .deleteIcon .fas {
  font-size: xx-large;
  color: #bdbdda;
}
.container .box-border .addMembers .deleteIcon h {
  font-size: 13px;
}
.container .box-border .findMembers {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}
.container .box-border .findMembers .findd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .box-border .findMembers .findd .fa-solid {
  font-size: 20px;
  color: silver;
}
.container .box-border .findMembers .findd .find {
  width: 60%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  outline: navajowhite;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid silver;
  margin-bottom: 4%;
}
.container .box-border .findMembers .press {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box-border .findMembers .press .user {
  border: 2px solid silver;
  padding: 10px;
  margin-bottom: 5px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.container .box-border .findMembers .press .user .left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.container .box-border .findMembers .press .user .left .fa-solid {
  margin-left: 5px;
  padding-right: 10px;
  font-size: 15px;
}
.container .box-border .findMembers .press .user .left label {
  font-size: 14px;
}
.container .box-border .findMembers .press .user .right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.container .box-border .findMembers .press .user .right .fa {
  font-size: x-large;
}
.container .box-border .findMembers .press .u1 .right .fa,
.container .box-border .findMembers .press .u3 .right .fa,
.container .box-border .findMembers .press .u5 .right .fa {
  color: #a0b1a0;
}
.container .box-border .findMembers .press .u1 .left,
.container .box-border .findMembers .press .u3 .left,
.container .box-border .findMembers .press .u5 .left {
  color: #a0b1a0;
}
.container .box-border .findMembers .press .u2 .right .fa,
.container .box-border .findMembers .press .u4 .right .fa,
.container .box-border .findMembers .press .u6 .right .fa,
.container .box-border .findMembers .press .u7 .right .fa {
  color: #448a44;
}
.container .box-border .SaveButton {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  justify-content: center;
}
.container .box-border .SaveButton .sa-ve,
.container .box-border .SaveButton .de-lete {
  display: flex;
  padding-left: 20px;
}
.container .box-border .SaveButton .cancel,
.container .box-border .SaveButton .save {
  border-radius: 5%;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border: 1px solid silver;
}
.container .box-border .SaveButton .cancel {
  color: silver;
  background-color: white;
}
.container .box-border .SaveButton .save {
  box-shadow: 0 0 5px #b0afc4;
  color: white;
  background-image: linear-gradient(to left, #9bf09b, #bbfa80, #b9adb5);
  text-transform: uppercase;
}
.container .box-border .SaveButton .save:hover, .container .box-border .SaveButton .save:focus, .container .box-border .SaveButton .save:active {
  box-shadow: 0 0 10px #b0afc4;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*# sourceMappingURL=index.css.map */
