
$gray:gainsboro;
$darkGray :rgb(112, 98, 98);
$lightGray:rgb(189, 189, 218);
$white:white;
$silver:silver;
$green:rgb(68, 138, 68);
$graygreen:rgb(160, 177, 160);
$greenblue:rgb(176, 175, 196);
$navajowhite:navajowhite;

