.findMembers {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3%;
}

.findMembers .findd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.findMembers .findd .fa-solid {
  font-size: 20px;
  color: silver;
}

.findMembers .findd .find {
  width: 60%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  outline: navajowhite;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid silver;
  margin-bottom: 4%;
}

.findMembers .press {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findMembers .press .user {
  border: 2px solid silver;
  padding: 10px;
  margin-bottom: 5px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findMembers .press .user .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.findMembers .press .user .left .fa-solid {
  margin-left: 5px;
  padding-right: 10px;
  font-size: 15px;
}

.findMembers .press .user .left label {
  font-size: 14px;
}

.findMembers .press .user .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.findMembers .press .user .right .fa {
  font-size: x-large;
}

.findMembers .press .u1 .right .fa, .findMembers .press .u3 .right .fa, .findMembers .press .u5 .right .fa {
  color: #a0b1a0;
}

.findMembers .press .u1 .left, .findMembers .press .u3 .left, .findMembers .press .u5 .left {
  color: #a0b1a0;
}

.findMembers .press .u2 .right .fa, .findMembers .press .u4 .right .fa, .findMembers .press .u6 .right .fa, .findMembers .press .u7 .right .fa {
  color: #448a44;
}
/*# sourceMappingURL=findMembers.css.map */