@import "colors";

@mixin flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  @content;
}

@mixin left-right($dir) {
  @if ($dir== "right") {
    .right {
      .fa {
        color: $graygreen;
      }
    }
  } @else if ($dir== "left") {
    .left {
      color: $graygreen;
    }
  } @else {
    .right {
      .fa {
        color: $green;
      }
    }
  }
}

.findMembers {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;

  .findd {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .fa-solid {
      font-size: 20px;
      color: $silver;
    }

    .find {
      width: 60%;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      outline: $navajowhite;
      border: none;
      padding-bottom: 5px;
      border-bottom: 2px solid $silver;
      margin-bottom: 4%;
    }
  }

  .press {
    display: flex;
    flex-direction: column;
    align-items: center;

    .user {
      border: 2px solid $silver;
      padding: 10px;
      margin-bottom: 5px;
      width: 60%;
      @include flex;
      align-items: center;
      .left {
        width: 50%;
        @include flex;

        .fa-solid {
          margin-left: 5px;
          padding-right: 10px;
          font-size: 15px;
        }

        label {
          font-size: 14px;
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: end;

        .fa {
          font-size: x-large;
        }
      }
    }

    .u1,
    .u3,
    .u5 {
      @include left-right("right");

      @include left-right("left");
    }
    .u2,
    .u4,
    .u6,
    .u7 {
      @include left-right("right-fa");
    }
  }
}
