@import "colors";

@mixin row-flex {
  display: flex;
  flex-direction: row;
  @content;
}

@mixin left-right($dir) {
  @if ($dir== "right") {
    .right {
      .fa {
        color: $graygreen;
      }
    }
  } @else if ($dir== "left") {
    .left {
      color: $graygreen;
    }
  } @else {
    .right {
      .fa {
        color: $green;
      }
    }
  }
}

.findMembers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3%;
  width: 60%;

  .find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    .magnifier {
      position: absolute;
      left: 8px;
      z-index: 1;
      font-size: 20px;
      color: $silver;
    }

    .find {
      width: 100%;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      outline: $navajowhite;
      border: none;
      padding-bottom: 5px;
      padding-left: 35px;
      border-bottom: 2px solid $silver;
      margin-bottom: 4%;
    }
  }

  .press {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .user {
      @include row-flex;
      justify-content: space-between;
      border: 2px solid $silver;
      padding: 10px;
      margin-bottom: 5px;
      box-sizing: border-box;
      width: 100%;
      align-items: center;

      .left {
        .fa-solid {
          margin: 0 5px 0 5px;
          font-size: 15px;
        }
        label {
          font-size: 15px;
        }
      }

      .right .fa {
        font-size: x-large;
      }
    }

    .u1,
    .u3,
    .u5 {
      @include left-right("right");
      @include left-right("left");
    }
    .u2,
    .u4,
    .u6,
    .u7 {
      @include left-right("right-fa");
    }
  }
}
