@import "colors";

body {
  margin: 0;
}

.container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;

  .box-border {
    overflow: hidden;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border: 5px solid $gray;
    margin-top: 3%;

    @import "addMembers";
    @import "findMembers";
    @import "save";
  }
}
