@import "colors";
.SaveButton {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  justify-content: center;

  .sa-ve,
  .de-lete {
    display: flex;
    padding-left: 20px;
  }

  .cancel,
  .save {
    border-radius: 5%;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border: 1px solid $silver;
  }
  .cancel {
    color: $silver;
    background-color: $white;
  }
  .save {
    box-shadow: 0 0 5px $greenblue;
    color: $white;
    background-image: linear-gradient(to left, #9bf09b, #bbfa80, #b9adb5);
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 10px $greenblue;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
